<h1> YOUR BOOKINGS</h1>

<div class="row">
    <% @bookings.each do |booking| %>
      <div class="co-12 col-sm-6 col-md-4">
        <%= link_to bookings_path(booking), class: "text-decoration-none" do %>
            <%= booking.start %>
            <%= booking.end %>
            <%= booking.bike.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <h1> YOUR BOOKED BIKES</h1>

   <ul class= "list-group my-3">
    <% @my_bookings.each do |my_booking| %>
      <li class= "list-group-item my-1"><%= my_booking%></li>
    <% end %>
  </ul>

  <%= link_to "Back to home", root_path %>
