<h1> YOUR BOOKINGS</h1>

<div class="row">
    <% @bookings.each do |booking| %>
      <div class="co-8 col-sm-6 col-sm-4">
        <%= link_to bikes_path(booking), class: "text-decoration-none" do %>
            <%= booking.start %>
            <%= booking.end %>
            <%= booking.bike.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= link_to "Back to home", root_path %>
