<h1> YOUR BOOKINGS</h1>

<div class="card-product">
 <% @bookings.each do |booking| %>
  <% if booking.bike.image.attached? %>
    <%= cl_image_tag booking.bike.image.key %>
  <% else %>
    <%= image_tag "https://images.unsplash.com/photo-1571068316344-75bc76f77890?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80.jpg"%>
  <% end %>
  <div class="card-product-infos">
    <h3 class="fw-bold"><%= booking.bike.name%> | <%= booking.bike.location%></h3>
    <p class="fw-light">Start Date: <%= booking.start.strftime("%A, %b %d") %></p>
    <p class="fw-light">End Date: <%= booking.end.strftime("%A, %b %d") %></p>
  </div>
  <% end %>
</div>

  <h1> YOUR BOOKED BIKES</h1>

   <ul class= "list-group my-3">
    <% @my_bookings.each do |my_booking| %>
      <li class= "list-group-item my-1"><%= my_booking[1]%></li>
    <% end %>
  </ul>

  <%= link_to "Back to home", root_path %>
