<h1> YOUR BOOKINGS</h1>

<div class="row">
  <% @bookings.each do |booking| %>
    <div class="co-8 col-sm-6 col-sm-4">
      <%= booking.start %>
      <%= booking.end %>
      <%= booking.bike.name %>
    </div>
  <% end %>
</div>

  <h1> YOUR BOOKED BIKES</h1>

   <ul class= "list-group my-3">
    <% @my_bookings.each do |my_booking| %>
      <li class= "list-group-item my-1"><%= my_booking%></li>
    <% end %>
  </ul>

  <%= link_to "Back to home", root_path %>
