<div class= "container">
  <h1>Your bookings</h1>

  <ul class= "list-group my-3">
    <% @bookings.each do |booking| %>
    <li class= "card-booking">
      <div class="card-booking-infos">
        <h3 class="fw-bold"><%= booking.bike.name%> | <%= booking.bike.location%></h3>
        <p class="fw-light">Start Date: <%= booking.start.strftime("%A, %b %d") %></p>
        <p class="fw-light">End Date: <%= booking.end.strftime("%A, %b %d") %></p>
      </div>
      <% end %>
    </li>
  </ul>

  <h1> Your booked bikes</h1>

   <ul class= "list-group my-3">
    <% @my_bookings.each do |my_booking| %>
      <li class= "list-group-item my-1"><%= my_booking%></li>
    <% end %>
  </ul>

  <div class="btn btn-light"><%= link_to "Back to home", root_path, class:"text-decoration-none text-black" %></div>
</div>
