<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
        <%= simple_form_for(@bike) do |f| %>
          <%= f.input :name %>
          <%= f.input :model %>
          <%= f.input :description %>
          <%= f.input :location %>
          <%= f.input :year %>
          <%= f.input :price %>
          <%= f.input :image, as: :file %>
          <%= f.submit %>
        <% end %>
    </div>
  </div>
</div>
