
<div class="card-product">
  <%= cl_image_tag @bike.image.key, height: 200, width: 200, crop: :fill %>
  <div class="card-product-infos">
    <h1><%= @bike.name%></h1>
    <h2><%= @bike.model%></h2>
    <p><%= @bike.description%></p>
    <p><%= @bike.location%></p>
    <p><%= @bike.year%></p>
    <p><%= @bike.price%></p>
  </div>
</div>

<br>

<div class="btn"><%= link_to "Back to home", bikes_path, class: "nav-link" %></div>
<div class="btn"><%= link_to "create a Booking", new_bike_booking_path(@bike), class: "nav-link" %></div>
<div class="btn"><%= link_to "Edit bike", edit_bike_path(@bike), class: "nav-link" %></div>
<div class="btn"><%= link_to "Delete #{@bike.name}",
  bike_path(@bike),
  method: :delete,
  data: { confirm: "Are you sure?" }, class: "nav-link" %></div>

<hr>
 <%# render/bookings %>
